
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.wrapper{
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.game{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
}
.game-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.game-raw{
    border: 2px solid #000;
    width: 150px;
    height: 150px;
    
    overflow: hidden;
}
.game-raw-wrapper{
    height: 150px;
    width: calc(150px*12);
    display: flex;
    align-items: center;
    position: relative;
    left: 0px;
    background-color: #000;
}
.game-text{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.game-img{
    width: 300px;
    height: 300px;
}
.tech-list{
    margin-top: 7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}



